<div data-role="page" id="new">
		<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
			<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
			<ul data-role="listview">
				<li>
					<a href="#home" class="ui-disabled">Home</a>
				</li>
				<li>
					<a href="#list">List</a>
				</li>
				<li>
					<a href="#map">Map</a>
				</li>
			</ul>
		</div>
		
		<div data-role="header" data-position="fixed">
			<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
			<h1>London Attraction App</h1>
		</div>
	
		<div data-role="content">
			<i> <%= flash[:notice] %> </i>
			<% @places.each do |place| %>
				<%= form_for(place) do |f| %>
					<%= f.hidden_field(:id) %>
					<%= f.label(:name) %>
					<%= f.text_field(:name) %>
					<%= f.label(:image) %>
					<%= f.file_field(:image) %>
					<%= f.label(:active) %>	
					<%= check_box_tag('place[active]', place.active ? "false":"true", place.active) %>
					<%= f.submit %>
				<% end %>
			<% end %>
			
		</div>
		<div data-role="footer" data-id="footerConstant" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-rel="back">Back</a>
					</li>
					<li>
						<a href="#home">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	

