<div data-role="page" id="new">
		<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" data-theme="a">
			<a href="#my-header" data-rel="close" data-role="button" data-theme="a" class="addBuffer" data-icon="delete">Close</a>
			<ul data-role="listview">
				<li>
					<a href="#home" class="ui-disabled">Home</a>
				</li>
				<li>
					<a href="#list">List</a>
				</li>
				<li>
					<a href="#map">Map</a>
				</li>
			</ul>
		</div>
		
		<div data-role="header" data-position="fixed">
			<a href="#mypanel" data-icon="grid" data-mini="true">Navigation</a>
			<h1>London Attraction App</h1>
		</div>
	
		<div data-role="content">

			<%= form_for @place, url:{action: "create"} do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :address_line_one %>
				<%= f.text_field :address_line_one %>		
				<%= f.label :address_line_two %>
				<%= f.text_field :address_line_two %>
				<%= f.label :postcode %>
				<%= f.text_field :postcode %>	
				<%= f.label :tube_station %>
				<%= f.text_field :tube_station %>
				<%= f.label :price %>
				<%= f.text_field :price %>		
				<%= f.label :description %>
				<%= f.text_field :description %>
				<%= f.label :opening_times_monday %>
				<%= f.text_field :opening_times_monday %>
				<%= f.label :opening_times_tuesday %>
				<%= f.text_field :opening_times_tuesday %>
				<%= f.label :opening_times_wednesday %>
				<%= f.text_field :opening_times_wednesday %>		
				<%= f.label :opening_times_thursday %>
				<%= f.text_field :opening_times_thursday %>
				<%= f.label :opening_times_friday %>
				<%= f.text_field :opening_times_friday %>	
				<%= f.label :opening_times_saturday %>
				<%= f.text_field :opening_times_saturday %>
				<%= f.label :opening_times_sunday %>
				<%= f.text_field :opening_times_sunday %>	
				<%= f.label :category %>
				<%= f.text_field :category %>
				<%= f.submit %>
	<%	end		%>
			
		</div>
		<div data-role="footer" data-id="footerConstant" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-rel="back">Back</a>
					</li>
					<li>
						<a href="#home">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
